.row {
  width: 100% !important;
}

.h2 {
  font-size: 5px;
  margin: 5px;
}

@media (min-width: 1400px) {
  .container {
    position: relative;
  }



  .card-total-products {
    position: absolute;
    top: 0;
  }

}


@media (max-width: 790px) {
  .text-data-payment-method {
    visibility: hidden;
  }
}

@media (min-width: 790px) {
  .text-data-payment-method {
    background-color: #E2F4FF;
    color: #2a2a2a;
    text-align: center;
  }
}